.toggle-buttons-flex-container {
  display: flex;
  align-items: bottom;
  justify-content: flex-start;
  font-size: 14px; 
  font-weight: 500;
  margin-bottom: 5px;
 
}

.toggle-button {
  padding: 5px;
  width: 120px;
  height: 25px;
  font-size: 10px;
  border-radius: 15px;
  margin-right: 5px;

}

.toggle-button-selected {
  padding: 5px;
  width: 120px;
  height: 25px;
  font-size: 10px;
  border-radius: 15px;
  margin-right: 5px;
  background-color: var(--semi-transparent-background);
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #f7f5fe;
}

.toggle-button-selected:hover {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #f7f5fe;
}