.menu {
  left: -200;
  top: 30;
  width: 240;
  z-index: 999999; 
  display: grid;
  align-items: center; 
  margin: 15px; 
  text-align: center; 
  background-color: #e5faf8; 
  fill: #4d5458;
  padding: 15px;
}

.nav-icon {
  fill: var(--font-color);
  stroke-width: 0;
  width: 12px;
  height: 12px;
}

.nav-icon-heart {
  fill: var(--pink-icon);
}