.pool-stats-container {
  grid-row: 2 / span 9;
  width: 20%;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 0.2em;
}

.stat-container {
  display: grid;
  place-items: center;
  height: 100%;
  color: var(--darkest-grey);

}

.stat-label {
  font-size: 11px;
  justify-content: left;
  padding-left: 0.5em;
}